*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #332f2e;
  background: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 1000px;
  margin: 0 auto; }

h3 {
  font-size: 1.8rem;
  font-weight: 600; }

.icon {
  font-size: 2.2rem; }

a {
  text-decoration: none;
  color: #f5f5f5; }

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0 0.4rem; }

.dot.active {
  background-color: #f48221; }

header {
  background: #f48221;
  padding: 1.5rem 3rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5; }
  .nav__logo {
    height: 32px;
    width: 32px; }
  .nav__menu a:not(:last-child) {
    margin-right: 3rem; }

main {
  margin: 6rem; }

.carousel {
  margin-top: 2rem;
  display: flex;
  flex-direction: column; }
  .carousel__head {
    background: #332f2e;
    padding: 1rem 0;
    color: #efefef;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .carousel__nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background: #efefef; }
    .carousel__nav .icon {
      color: #332f2e;
      cursor: pointer;
      transition: 0.2s; }
    .carousel__nav .icon:hover {
      color: #555; }
    .carousel__nav-left.active, .carousel__nav-right.active {
      transform: scale(1.4);
      transition: 0.2s; }
    .carousel__nav-left.active {
      transform: translateX(-10px); }
    .carousel__nav-right.active {
      transform: translateX(10px); }
  .carousel__content {
    min-height: 300px;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    user-select: none; }
    .carousel__content.active {
      background: #f2fdfb;
      opacity: 0.7;
      transition: 0.3s; }
    .carousel__content p {
      color: #555; }
    .carousel__content-img i {
      font-size: 7rem;
      margin-right: 3rem;
      color: #f48221; }
    .carousel__content-text {
      border-left: 1px solid #ccc;
      padding: 0 3rem; }
      .carousel__content-text h3 {
        font-size: 2rem;
        margin-bottom: 1rem; }
  .carousel-item {
    padding: 6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    animation-name: slideIn;
    animation-duration: 0.8s; }

@keyframes slideIn {
  0% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
